.center {
  text-align: center;
  justify-content: center;
}

.skillis {
  list-style: none; 
  padding: 0; 
  text-align: center; 
  font-size: 48px; 
  color: #1e252d; 
  text-align: center;
  display: inline-block;
}

  .skillis li{
    display: inline-block; 
    margin-right: 10px; 
  }

