@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

@font-face{
  font-family: Myfont;
  src: url(../fonts/Mynewfont-Regular.ttf);
}

.cargo{
  text-align: left !important;
  justify-content: left !important;
}

.project{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #6200d2 !important;
}

a{
  text-decoration: none;
  color:#212931
}

  a:hover{
    color: #6200d2;
  }

.date{
  font-family:"Source Sans Pro", Helvetica, sans-serif ;
  color:#1e252d
}

hr{
  color: #1e252d;
  width: 640px;
  margin-bottom: 40px;
}

.center {
  text-align: center;
  justify-content: center;
}

.skills{
  justify-content: center;
  text-align: center;
}

.skillis {
  list-style: none; 
  padding: 0; 
  text-align: center; 
  font-size: 48px; 
  color: #1e252d; 
  text-align: center;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

  .skillis li{
    display: inline-block; 
    margin-right: 10px; 
    font-family: MyFont;
    justify-content: center;
    text-align: center;
    transition: 0.7s;
  }

    .skillis li:hover{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      color: #6200d2;
    }

  h4{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 48;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
    color: #212931;
    text-align: center;
  }

.curso{
  text-align: left !important;
  justify-content: left !important;
}

.inst {
  padding: 0; 
  font-size: 20px; 
  color: #1e252d; 
  display: inline-block; 
  font-family: MyFont;
}

    .inst:hover{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      color: #6200d2;
    }

.certificado{
  color: #1e252d; 
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-transform: uppercase;
}
  .certificado:hover{
    color: #6200d2;
  }

.download{
  color: #6200d2;
  background-color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  transition: 0.7s;
  border: solid 4px #6200d2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.download:hover{
    background-color: #3e0283;
    color: white;
  }

.button{
  justify-content: center;
  text-align: center;
}

.ps{
  margin-top: 6px;
  float: right;
}