@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/*Zerar CSS*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

    body{
        background-color: #212931;
		background-image: url("../img/back.jpg");
		background-size: 100% auto;
		background-position: top center;
		background-repeat: no-repeat;
		background-attachment: fixed;
    }

	body {
        -ms-overflow-style: scrollbar;
		background-color: #1e252d;
        font-family: "Merriweather", Georgia, serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 2.375;
	}

	p {
		text-align: justify;
		margin: 0 0 2rem 0;
	}

	h2 {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 900;
		line-height: 1.5;
		letter-spacing: 0.075em;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
		font-size: 1.75rem;
		line-height: 1.3;
		margin: 0 0 1.5rem 0;
        color: #212931;
	}

        h2 a {
            border-bottom: 0;
            color: inherit;
            text-decoration: none;
         }

            h2 a:hover{
                border-bottom-color: transparent;
			    color: #6200d2 !important;
            }

/* Nav */
    #navbar {
        padding: 1rem 0;
        width: calc(100% - 4rem); 
        max-width: 72rem; 
        margin: 0 auto; 
        text-decoration: none;
    }

    .links {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        list-style-type: none;
    }

    .links li {
        display: inline-block;
        margin-right: 1rem;
        text-decoration: none;
        list-style-type: none;
    }

    .links li a {
        color: #ffffff;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-weight: 900;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        transition: color 0.2s ease-in-out;
        text-decoration: none;
        text-decoration: none;
        list-style-type: none;
    }

    .links li.active a {
        color: #6200d2;
        text-decoration: none;
    }

    .links li a:hover {
        color: #6200d2;
        text-decoration: none;
    }

/* Main */

	#main {
		background-color: #ffffff;
		position: relative;
		margin: 0 auto;
		width: calc(100% - 4rem);
		max-width: 72rem;
		z-index: 2;
	}

		#main > * {
			padding: 4rem 4rem 2rem 4rem ;
			border-top: solid 2px #eeeeee;
			margin: 0;
		}

		
	footer {
		position: relative;
		color: rgba(255, 255, 255, 0.25);
		cursor: default;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 0.8rem;
		font-weight: 900;
		letter-spacing: 0.075em;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		margin: 4rem auto 8rem auto;
		width: calc(100% - 4rem);
		max-width: 72rem;
		z-index: 2;
	}

	.topo {
		position: fixed !important;
		bottom: 30px !important;
		right: 20px !important;
		background-color: #6200d2;
		color: white;
		border-radius: 50%;
		width: 50px !important;
		height: 50px !important;
		cursor: pointer !important;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
		text-align: center !important;
	}
	
	.topo:hover {
		background-color: #24034a;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	.seta{
		font-family: "Source Sans Pro", Helvetica, sans-serif !important;
		font-size: 30px !important;
		margin-left: 8px !important;
	}